---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
//import Projects from "../components/Projects.astro";
import Posts from "../components/Posts.astro";
import WaveDivider from "../components/WaveDivider.astro";
//import Webring from "../components/Webring.astro";
//import SpotifyNowPlaying from "../components/SpotifyNowPlaying.astro";
import Socials from "../components/Socials.astro";

// TODO: Fill in your preferences.
const variables = {
  name: "Kristian Emil Takvam",
  subtitles:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis nisi ante, nec tincidunt ligula mattis nec. Maecenas metus mauris, fermentum et vulputate ut, dapibus vel massa.",
};
---

<Layout title={variables.name}>
  <main>
    <Intro name={variables.name} subtitle={variables.subtitles} />
    <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

    <Posts />
    <WaveDivider color="teal" speed={100} size={0.8} direction="left" />

    <Socials />
  </main>
</Layout>
